.dashboard-wraper {
  height: 11vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 11);
  width: 100%;
  padding: 0;
  background-image: linear-gradient(-90deg, #000024, #00234e);
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.55);
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.dashboard-box-wrapper {
  overflow: auto;
  height: 89vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 89);
  background-image: url('/assets/Dashboard/fondoDashboard@PYP.png');
  z-index: -1;
  margin-left: -3px;
}


@media (max-width: 700px) {
  .header {
    display: none;
  }
}