<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- header and title of section -->
  <div class="dashboard-wraper">
    <div class="header">

    </div>
  </div>
  <!-- Showing dashboard with information -->
  <div class="ScrollBar dashboard-box-wrapper">
    <br/>
    <ngx-loading [show]="loading"
                 [config]="{animationType: ngxLoadingAnimationTypes.rectangleBounce, primaryColour: 'rgb(255,255,255)', backdropBorderRadius: '3px'}"></ngx-loading>
    <div *ngFor="let data of elements">
      <app-dashboard-box [data]="data" [mainRef]="this"></app-dashboard-box>
    </div>
    <br/>
  </div>
</div>
