<h2 mat-dialog-title>
  {{ data.id ? "Actualizar producto" : "Crear Producto" }}
</h2>

<div>
  <form
    [formGroup]="formProduct"
    (submit)="data.id ? updateProduct() : createProduct()"
  >
    <div>
      <label for="title">Nombre</label>
      <input
        type="text"
        id="title"
        formControlName="title"
      />
    </div>

    <div>
      <label for="price">Precio</label>
      <input
        type="text"
        id="price"
        formControlName="price"
      />
    </div>

    <div>
      <label for="category">Categoria</label>
      <input
        type="text"
        id="category"
        formControlName="category"
      />
    </div>

    <div>
      <label for="description">Descripcion</label>
      <input
        type="text"
        id="description"
        formControlName="description"
      />
    </div>

    <div>
      <label for="image">Imagen</label>
      <input
        type="text"
        id="image"
        formControlName="image"
      />
    </div>

    <mat-dialog-actions align="center">
      <button mat-button mat-dialog-close class="cancel-btn btn">Cancelar</button>
      <button
        type="submit"
        [disabled]="formProduct.invalid"
        class="cta-btn btn"
      >
        {{ data.id ? "Actualizar" : "Crear" }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
