h2 {
  margin: 0;
      height: 50px;
  font-size: 15px;
  font-weight: bold;
  color: #3D8EED;
}

form div {
  display: flex;
  flex-direction: column;

  input {
    border-radius: 8px;
    border: 1px solid gray;
    height: 25px;
    padding-left: 10px;
  }
}

.btn{
    border-radius: 8px;
    border: none;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
    margin: 0 8px;
}
.cancel-btn {
    background-color: #828282;
}
.cta-btn {
    background-color: #3D8EED;
}
